html {
  background-image: url(images/uiTexture.jpg);
  background-color: #000000;
  background-size: cover;
}

.title-container {
  display: grid;
  grid-template-columns: 52% auto;
  gap: 15px;
  padding: 30px 10px 20px;
  text-align: center;
}

span {
  color: #CCFF00;
}

#badOmenWrap {
  display: block;
  text-align: right;
  direction: rtl;
  unicode-bidi: normal;
  width: 100%;
}

#badOmenText {
  z-index: 999;
  position: fixed;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  margin: 0;
  text-align: right;
  direction: rtl;
  top: -20px;
  right: -30px;
  font-family: "Special Elite", system-ui;
  font-size: 9vmin;
  line-height: 145%;
  font-weight: 400;
  font-style: normal;
  color: #000;
  -webkit-text-stroke: 1px #ff2525;
  margin: 0;
  padding-top: 10px;
}

h1 {
  font-family: "Eater", serif;
  font-size: 13vmin;
  text-align: center;
  line-height: 75%;
  font-weight: 400;
  font-style: normal;
  color: #000;
  text-shadow: 3px 2px 0 #CCFF00;
  -webkit-text-stroke: 1px #ff2525;
  margin: 0;
  padding-top: 10px;
}

h2 {
  margin-top: 25px;
  font-family: "Grenze Gotisch", serif;
  font-size: 5.5vmin;
  line-height: 70%;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  color: #ff2525;
  display: inline;
}

#instructions {
  margin: 0px;
  font-family: "Victor Mono", serif;
  font-size: 2.1vmin;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  color: #e0e0e0;
  padding: 15px;
}

p {
  margin: 0px;
  font-family: "Victor Mono", serif;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  color: #e0e0e0;
}

strong {
  color: #ff2525;
}

iframe {
  display: block;
  background-color: #000;
  width: 1100px;
  height: 600px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 40px;
  border: 10px solid transparent;
  border-image: url(images/uiBorder.svg) 100 round;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222;
}